.navbar {
  background-color: var(--main-color);
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content:space-around;
  align-items: center;
  z-index: 1000;
}

.navbar-logo .logo {
  font-size: 1.5rem;
  font-weight: bold;
 color: var(--special-text); 
 text-decoration: none;
}
.navbar-logo{
  width: 400px;
  text-align: center;
}
.nav-links{
  width: 400px;
  justify-content: space-around;
}
.theme-toggle{
  width: 400px;
  text-align: center;
  color: rgb(200, 225, 225);
}
.navbar-links .nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}


.navbar-links .nav-links a {
  text-decoration: none;
  color: var(--special-text)
}
