.navbar {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
}

.navbar-logo .logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.navbar-links .nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links .nav-links li {
  margin-right: 1rem;
}

.navbar-links .nav-links a {
  text-decoration: none;
}
