.box {
  margin: 1rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.about-header {
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
}

.about-header-info {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  max-width: 660px;
  width: 100%;
}

.about-main {
  display: flex;
  justify-content: center;
}
.about-article {
  justify-self: center;
  max-width: 660px;
  width: 100%;
  line-height: 1.75;
  font-size: 18px;
}

img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
