.box {
  margin: 1rem;
  padding: 3rem;
  display: grid;
}

.blog-title-section {
  padding: 2rem 1rem;
  justify-items:center;
}

.blog-title-info {
  gap: 1.5rem;
  max-width: 660px;
  width: 100%;
}


