.display{
  border: 1px solid black;
  padding: 1rem 20rem;
  margin:1rem;
}
.header{
  padding: 1rem;
  margin: 30px auto;
  line-height: 1.6;
  font-size: 18px;

}
img{
  width: 100px;
  border-radius: 50%;
  margin-top: 10px;
}
