:root {
  --background-color  : rgb(255, 255, 255);
  --main-color       : #2eceff;
  --secundary-color  : rgb(130, 255, 188);
  --title-color      : #000000;
  --text-color       : #373737;
  --special-text     : rgb(42, 46, 255);
  --light-text-color : #ffffff;
  --body-color       : rgba(0,0,124);

  --size-xs   : 1rem;
  --size-s    : 2rem;
  --size-m    : 4rem;
  --size-l    : 8rem;
  --size-xl   : 12rem;
  --size-xxl  : 16rem;
  --size-xxxl : 24rem;
  --size-xxxxl : 32rem;

  --font-xs   : 0.25rem;
  --font-s    : 0.5rem;
  --font-m    : 1rem;
  --font-l    : 2rem;
  --font-xl   : 4rem;
  --font-xxl  : 8rem;
  --font-xxxl : 12rem;
  --font-xxxxl : 16rem;

  --font: "Oswald", sans-serif;
}

.dark-theme {
  --background-color  : #282828;
  --main-color       : #1f1f1f;
  --secundary-color  : #31363b;
  --title-color      : #e0e0e0;
  --text-color       : #b0b3b8;
  --special-text     : rgb(200,225,225);
  --light-text-color : #ffffff; 
  --body-color       : #181a1b;
}



h1, h2, h3, h4, h5, h6 , p{
  color: var(--title-color);   
}    
h1 {
}
h2 {

}
h3 {

}
h4 {

}
h5 {

}
h6 {

}
p{
  color: var(--text-color);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  background-color: var(--background-color);
  height: 100%;
  overflow: hidden;
}

.box {
  height: calc(100dvh - 60px);
  margin-top: 60px;
  overflow-y: auto;
  padding: 1rem;
  justify-content: center;
}

@media screen and (min-width: 636px) {

}


